/*Theme Projet Code WEB 2015-2016
	Auteur : Adrien
*/

.presentation{
	border:1px solid silver;
}

.contact{
	border:1px solid silver;
}

.contact .titre{
	font-weight:bold;
	font-size:36pt;
}

.presentation .titre{
	font-weight:bold;
	font-size:36pt;
}
