body {
	margin: 0;
	background-color: white;
	height: 100%;
}

nav {
	margin: 0;
	padding: 0;
	background-color: blue;
	color: white;
	min-width: 420px;
}

nav p{
	display: inline;
}

nav .titre {
	font-size: 4em;
	min-width: 420px;
	font-weight: thick;
}

.contenu{
	margin-top: 0;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: -60px;
	background-color: #BBE;
	border-bottom-right-radius: 5em;
}


nav a{
	display: inline;
	text-decoration: none;
	color: white;
	padding: 20px 30px;
	font-size: 2em;
}

ul {
	list-style-type: none;
}

footer{
	height: 60px;
	background-color: blue;
	color: white;
	position: absolute;
	bottom: 0;
	min-width: 420px;
	width: 100%;
}

footer p{
	font: 1em;
}

ul label,p{
	display: inline;
}

ul .titre{
	font-size: 3em;
}

ul .remplir{
	width: 400px;
	height: 200px;
	vertical-align: top;
	font: inherit;
}

.submitButton {
	background-color: #77A;
	font: 2em thick;
}