html{
	font-family: Times, sans-serif; 
	width: 100%;
	height: 100%;
}

body{
	background: url('./Img/cover.jpg') center no-repeat;
}

div.errorUtilisateur {
	width: 50%;
	margin: auto;
	background-color: #d6d6c2;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	color: black;
}

@media screen and (max-width: 800px){
	div.errorUtilisateur {
		width: 60%;
	}
}
