/*************************************************************************************/
/*									Fonts											 */
/*************************************************************************************/

@font-face {
	font-family: 'InknutAntiqua';
	src: url('./inknut-antiqua/InknutAntiqua-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'InknutAntiqua';
	src: url('./inknut-antiqua/InknutAntiqua-Bold.ttf');
	font-weight: bold;
	font-style: bold;
}

/*************************************************************************************/
/*									Parametres Normales								 */
/*************************************************************************************/

html{
	font-family: InknutAntiqua;
	font-size: 20px;
	width: 100%;
}

a{
	font-size: 1em;
	text-decoration: none;
}

a[href='']{
	color: black;
}

body{
	padding: 0%;
	margin: 0%;
	background: url('./Img/cover.jpg') center no-repeat;
	background-size: cover;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	font-size: 1em;
	font-family: Times;
}

p{
	word-break: break-all;
	word-wrap: break-word;	
}

footer{
	font-family: Times;
}

/*************************************************************************************/
/*									Nav												 */
/*************************************************************************************/
#titreBibliotheque{
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	
}

header {
	height: auto;
	background-color: #d6d6c2;
	text-align: center;
}

nav{
	display: inline-block;
}

nav a{
	margin: 0 0.5em;
	padding: 3px;
	/*border: solid black 2px;*/
}

@media screen and (min-width: 600px) and (max-width: 1000px){
	html{
		font-size: 17px;
	}
}

@media screen and (max-width: 600px){
	html{
		font-size: 15px;
	}
}

/*************************************************************************************/
/*									Contenu											 */
/*************************************************************************************/

div.contenu{
	margin: auto;
	width: 90%;
	min-height: 100%;
	background-color: rgba(211,211,211,0.6);
}

div.wrapper{
	width: 100%;
	position: relative;
}

/**********************************Categorie**********************************/

div.Categorie{
	display: inline-block;
	width: 60%;
	height: 400px;
	vertical-align: top;
	position: relative;
	color: gray;
}

div.livreCelebre{
	width: 100%;
	height: 100%;
}

div.button{
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40%;
	background-color: rgba(169,169,169,0.9);
	text-align: center;
	vertical-align: center;
	font-size: 2em;
	border-radius: 50%;
	font-family: Times;
}

div.button:hover{
	background-color: rgba(255,255,255,0.8);
	cursor: pointer;
}
div.left{left: 5px;}
div.right{right: 5px;}
div.button a{color: gray;}

div.titreCategorie{
	background-color: rgba(0,0,0,0.8);
}

div.titreCategorie h2{
	font-size: 1em;
	margin: 0;
	text-align: right;
	padding-right: 20px;
}

div.description{
	position: absolute;
	max-height: 20%;
	bottom: 0;
	font-family: Times;
	font-size: 1em;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 10px;
	overflow: auto;
}

div.description p{
	margin: 0;
	padding: 0;
}

div.disabled{
	display: none;
}

/**********************************Nouvelles**********************************/


div.nouvelles{
	display: inline-block;
	width: 35%;
	vertical-align: top;
	right: 0;
}

div.nouvelles ul li{
	margin: 2%;
	background-color: rgb(240,240,240);
	color: black;
	padding: 5px;
}

h3{
	margin: 0 0 0 10px;
	border-bottom: solid gray 1px;
	font-family: InknutAntiqua;
	font-size: 0.7em;
}

div.nouvelles p{
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 700px){
	div.Categorie{
		display: block;
		position: inherit;
		width: 100%;
		height: 300px;
	}

	div.nouvelles{
		display: block;
		position: inherit;
		width: 100%;
		height: auto;
	}

}

/*************************************************************************************/
/*									Footer											 */
/*************************************************************************************/

footer{
	position: fixed;
	bottom: 0;
	font-size: 0.8em;
	background-color: #d6d6c2;
	width: 100%;
	text-align: center;	
}